/* Carousel */
.carousel-container {
    margin: 0 auto;
    /* Center the carousel horizontally */
}

.carousel-container .carousel-item img {
    height: 400px;
    /* Set a fixed height */
    object-fit: cover;
    /* Ensures the image fits well within the dimensions */
    width: 100%;
    /* Maintain responsiveness */
}

@media (max-width: 768px) {

    /* Adjust the height for smaller screens */
    .carousel-container .carousel-item img {
        height: 300px;
    }
}