/* Primary NavBar */
.primary-nav {
    background-color: #00274d;
}

/* Quote Button (remains unchanged) */
.quote {
    background-color: rgb(191, 134, 28);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quote:hover {
    background-color: grey;
    color: white;
}

/* Telephone link styling */
.telephone-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    /* Adds space between button and phone link */
    transition: color 0.3s ease;
}

.telephone-icon {
    margin-right: 5px;
    /* Optionally adjust font size or use an icon library */
}

.telephone-link:hover {
    color: #cccccc;
    /* Changes the color on hover; adjust as needed */
}

/* Secondary NavBar */
.secondary-nav {
    background-color: #ae8232;
    color: white;
}

.secondary-nav .nav-link {
    color: white !important;
}

/* Custom dropdown styling */
.custom-spaces {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 0;
}

.nav-item.dropdown:hover .custom-spaces {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.custom-spaces .dropdown-item {
    border-radius: 0;
}

.custom-spaces .dropdown-item:hover {
    color: rgb(174, 130, 50);
    background: transparent;
}